@model DoorsOpen.Models.BuildingImageViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>BuildingImageModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="BuildingId" class="control-label"></label>
                <input asp-for="BuildingId" class="form-control" />
                <span asp-validation-for="BuildingId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="fileinput fileinput-new" data-provides="fileinput">
                    <div class="fileinput-new thumbnail" style="width: 200px; height: 200px;">
                        @{ string image_src = Model.ImageURL; }
                        @if (Model != null && Model.ImageURL != null)
                        {
            <img src="@image_src" class="photo" id="imageUrl" alt="..." /> }
                        else
                        {
            <img src="/content/img/400x400.png" class="photo" id="imageUrl" alt="...">}
                    </div>
                    <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;">
                    </div>
                    <div>
                        <span class="btn btn-default btn-file"><span class="fileinput-new">Change Image</span><span class="fileinput-exists">Change</span><input type="file" name="upload"></span>
                        <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Original</a>
                        <div class="btn btn-default fileinput-new" id="delete-image">Remove Image</div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="ImageURL" />
            </div>
            <div class="form-group">
                <label asp-for="AltText" class="control-label"></label>
                <input asp-for="AltText" class="form-control" />
                <span asp-validation-for="AltText" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
